body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero-section {
  height: 100vh;
  background: linear-gradient(to right, #946796, #a3bec7, #c7cc95);
  color: white;
  padding: 0 20px;
}

.navbar-brand.custom-brand {
  font-family: "Reenie Beanie", cursive;
}

.project-card {
  width: 260px;
  border-radius: 0px;
}

.project-card .title-container {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
  height: 100%; /* Make title span the full height of the card */
  writing-mode: vertical-rl; /* Title goes down the left side */
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  white-space: nowrap;
  color: rgb(12, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px; /* Optional: some horizontal space */
}

.project-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 100%; /* Ensure the card body fills the full height */
  background-color: transparent; /* Transparent so we don't override background color */
}

.project-card .btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
